.main {
  box-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  position: relative;
  overflow:hidden;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 841px) {
  .section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.container {
  margin-bottom: 0;
  margin-top: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 454px;
  margin: 0 auto;
  position: relative;
  width: -webkit-calc(100% - 200px -8px);
  width: calc(100% - 200px - 12px);
}

.item {
  height: 454px;
  max-width: 400px;
  position: relative;
  flex: 1;
  will-change: transform;
  padding: 4px;
}

.card {
  height: 100%;
  left: 0;
  transform: translate3d(calc(200px / 2 * -1 * 1), 0, 0);
  width: 100%;
  position: relative;
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
 border-right: 1px solid black; border-left: 1px solid black;
 
}

.active ~ .card {
  transform: translate3d(calc(200px / 2 * 1 * 1), 0, 0);
}

.card .wrapper {
  left: calc(200px / 2 * -1 + 6px);
  width: calc(100% + 200px - 6px * 2);
  pointer-events: none;
}

.flex {
  box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexMax {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.absolute {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.center {
  transform: translate3d(calc(200px / 2 * 1), 0, 0);
}

.left {
  transform: translate3d(calc(200px / 2 * 1 * 1), 0, 0); border-left: 1px solid black;
  
}

.right {
  transform: translate3d(calc(200px * -1 * 1), 0, 0);
}

.card.active {
  -webkit-transform: none;
  transform: none;
}
.card.active .wrapper {
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}
.card.active .absolute {
  -webkit-transform: none;
  transform: none;
}
.card .absolute {
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.bg {
  background-color: rgba(189, 189, 189, 0.3);
  -webkit-background-size: cover;
  background-size: cover;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition-delay: 1000ms;
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
